<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Nosotros</title>
</head>
<body>
    <main>
        <div class="contenedor">
            <div class="titulo1"> 
                <h2>Diseño</h2> 
            </div>
            <div class="titulo2">
                <h2>Multimedia</h2>
            </div>
            <div class="Opciones">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="/templates/servicios.html">Servicios</a></li>
                    <li><a href="">Contactos</a></li>
                </ul>
            </div>
        </div>
        <div class="contenedorDos">
            <p class="parrafoDos">Suscribete a nuestro boletin</p>
            <div class="CorreoMadre">
                <input class="Contenedor-correo" type="text" placeholder="Ingrese el correo">
                <input class="boton-enviar" type="button" value="suscribete">
            </div>
        </div>

        <div class="nosotros-contenedor-padre">
                <div class="nosotros-uno">
                    <p class="p1">Nosotros</p>
                    
                    <div class="uno">
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at hendrerit lacus, sed gravida justo. Quisque sollicitudin orci sed ex accumsan, vel pharetra libero feugiat. Vestibulum ullamcorper faucibus eros, eget suscipit velit suscipit sed. Phasellus tristique, tortor nec fringilla fermentum, mauris nisi fringilla nulla, sed mattis turpis est vel elit. Nullam vulputate euismod purus, id ultricies magna posuere nec. Quisque in metus ipsum. Duis elementum libero risus, non tempus orci fringilla vel. Aliquam erat volutpat. Nulla facilisi. Donec ac consectetur metus, at feugiat odio. Vivamus pretium orci sit amet felis efficitur, nec ultricies mi interdum."</p>
                    </div>

                    <div class="tres">
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sagittis sagittis ipsum, ac aliquet risus blandit ut. Phasellus pulvinar ultrices dui, non finibus tortor rhoncus in. Curabitur feugiat, odio ut vestibulum gravida, justo libero ultricies odio, ut interdum arcu quam a magna. Fusce pretium ante a turpis varius, eget rhoncus leo varius. Nullam mattis lorem eget justo finibus, vel dignissim dolor ultricies. Sed aliquet leo quis dolor eleifend commodo. Nam eu bibendum nisi. Quisque nec tellus ac orci pharetra eleifend. Nulla posuere, elit nec ullamcorper dapibus, nulla ligula dignissim tellus, sed tincidunt ipsum lorem non libero."</p>
                    </div>
                    <div>
                        <img class="imagen-891" src="/assets/891.jpg" alt="">
                    </div>
                </div>

                <div class="nosotros-dos">
                    <div class="Contenedor-nosotrosDos"></div>

                </div>
                
        </div>
        
        
        <div class="contenedortres">
            <p class="parrafotres">Graphel Desarrollo Web,&copy; 2017</p>
    
        </div>
        
    </main>
</body>
</html>

